@media (max-width: 575px) {
     .container .x-footer {
        text-align: center;
     }

     .footer__widget-content p {
      text-align: center;
     }
     .x-protfolio__more {
      margin-top: 1393px;
   }

   .x-gallery-head {
      justify-content: center;
   }
}