<!DOCTYPE html>
<html>

<head>
  <title>PDF.js Express Viewer</title>
</head>
<!-- Import PDF.js Express Viewer as a script tag from the lib folder using a relative path -->
<script src='/frontend/js/vendor/lib/webviewer.min.js'></script>

<body>
  <div id='viewer'></div>


  <script>
    WebViewer({
      path: '/public/adart.pdf', // path to the PDF.js Express'lib' folder on your server
      licenseKey: 'gusLI9PVElo0m24pCgAQ',
      initialDoc: 'https://pdftron.s3.amazonaws.com/downloads/pl/webviewer-demo.pdf',
      // initialDoc: '/path/to/my/file.pdf',  // You can also use documents on your server
    }, document.getElementById('viewer'))
      .then(instance => {
        // now you can access APIs through the WebViewer instance
        const { Core, UI } = instance;

        // adding an event listener for when a document is loaded
        Core.documentViewer.addEventListener('documentLoaded', () => {
          console.log('document loaded');
        });

        // adding an event listener for when the page number has changed
        Core.documentViewer.addEventListener('pageNumberUpdated', (pageNumber) => {
          console.log(`Page number is: ${pageNumber}`);
        });
      });
  </script>
</body>

</html>